[defaults]
inventory=hosts.yml
result_format=yaml
deprecation_warnings=False
inject_facts_as_vars=True
interpreter_python=/usr/bin/python3

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
